<ng-template #errorHandlesModalRef>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Internal Server Error.
    </div>
    <div>
      Please contact admin.
    </div>
  </div>
</ng-template>