<div class="col-md-4">
  <tabset>
    <tab heading="Login" id="tab1">
      <div class=" login-content">
        <div class="card">
          <div class="card-header">Login</div>
          <div class="card-body">
            <form class="form-group" [formGroup]="login_form" (ngSubmit)="submitLogin()">
              <label>Username</label>
              <input type="text" placeholder="Enter username" formControlName="username" class="form-control" required />

              <label>Password</label>
              <input type="password" placeholder="Enter password" formControlName="password" class="form-control" required />

              <br/>
              <button [disabled]="!login_form.valid" type="submit" class="btn btn-primary">Login</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
            </form>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Register">
      <div class="login-content">
        <div class="card">
          <div class="card-header">Register</div>
          <div class="card-body">
            <form class="form-group" [formGroup]="register_form" (ngSubmit)="submitRegister()">
              <label>Username</label>
              <input type="text" placeholder="Enter username" formControlName="username" class="form-control" required />

              <label>Password</label>
              <input type="password" placeholder="Enter password" formControlName="password" class="form-control" required />

              <label>First name</label>
              <input type="text" placeholder="Enter first name" formControlName="firstName" class="form-control" required />

              <label>Last name</label>
              <input type="text" placeholder="Enter last name" formControlName="lastName" class="form-control" required />

              <label>Email</label>
              <input type="text" placeholder="Enter email" formControlName="email" class="form-control" required />
              <br/>
              <button [disabled]="!register_form.valid" type="submit" class="btn btn-primary">Register</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
            </form>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>