<div class="col-md-12">
  <h3>Frontend Project</h3>
  <button *ngIf="isAuth()" class="btn btn-danger" (click)="signOut()">Sign out</button>
</div>

<router-outlet></router-outlet>

<app-error-handles></app-error-handles>