<div class="col-md-2">
  <form class="form-group" [formGroup]="message_form" (ngSubmit)="submitForm()">
    <label>Message Content</label>
    <input class="form-control" type="text" formControlName="message" name="ipt-message" placeholder="Enter some message" />
    <br />
    <button class="btn btn-ok" type="submit">OK</button>
  </form>
</div>

<div class="col-md-6">
  <div *ngFor="let msg of messageList;let idx = index;">
    {{msg.user.firstName}} : {{msg.content}}
    <button class="btn-info" (click)="updateMessage(msg)">Edit</button>
    <button class="btn-danger" (click)="deleteMessage(msg, idx)">Delete</button>
    <br />
    <br />
  </div>
</div>